node_modules/

.log/
.awcache/
.tsc/
.vscode/

assets/bundle/
dist/

.gitattributes
.gitignore
package-lock.json
npm-debug.log

/tsconfig.json
/tslint.json
/src/**/tslint.json
/src/tsconfig.json
/bin/tslint.json